html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 0.7em;
  line-height: 21px;
}

hr {
  margin: 1em;
  border: 0;
}

input[type]:focus, textarea:focus {
  outline: 0;
}

input[type='text']:focus, input[type='password']:focus {
  border: 2px solid blue;
}

input[type] {
  width: 100%;
  margin: 0 0 0.5em 0;
  padding: 0.5em;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  border: 2px solid rgba(0, 0, 255, 0.3);
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

input[type='submit'] {
  background: blue;
  color: white;
}

textarea {
  width: 100%;
  font-family: 'Inconsolata', monospace;
  font-size: 0.7em;
  word-break: break-all;
  background: none;
  opacity: 0.3;
  border: 0;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.flex {
  display: flex;
}

.inputs {
  z-index: 1;
  margin: 2em;
}

#login {
  height: 0;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#visualization, #webcam-logs {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100%;
  margin-left: -100vw;
  padding: 2em;
  background: blue;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#chart {
  width: 100%;
  height: 350px;
}

.chart {
  position: relative;
  margin-bottom: 1em;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  overflow: hidden;
}

.chart:last-of-type {
  margin-bottom: 2em;
}

.chart canvas {
  max-height: 100px;
}

.chart p {
  padding: 1.3em;
  font-size: 0.9em;
  color: white;
}

.webcam-logs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#webcam-logs h1 {
  margin: 0.75em;
  font-size: 5em;
  text-align: center;
}

.webcam-logs span {
  position: relative;
}

.webcam-logs img {
  align-self: center;
  max-width: 700px;
  width: 100%;
  height: auto;
}

.webcam-image-timestap {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.status-bar {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 2.5em;
  padding: 0em 2em;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#status-bar-left {
  float: left;
  color: blue;
}

#status-bar-right {
  float: right;
  color: blue;
}

#webcam-logs-link {
  display: none;
}