html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Inconsolata', monospace;
  box-shadow: inset 0px 0px 0px 10px blue;
}

img {
  width: 352px;
  height: 240px;
  max-width: 100%;
  margin: 5em;
}

p {
  margin: 0;
  font-size: 0.7em;
  line-height: 21px;
}